server:
  port: 8515

spring:
  config:
    import: application-alipay.yml
  application:
    name: service-pay
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.195.31:8848
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.195.31:3306/db_spzx?serverTimezone=UTC&characterEncoding=utf8&useUnicode=true&useSSL=true
    username: root
    password: 1234567
  data:
    redis:
      host: 192.168.195.31
      port: 6379
      password: 123456

mybatis:
  config-location: classpath:mybatis-config.xml
  mapper-locations: classpath:mapper/*/*.xml